<!--Contact-->
<section id="contact" class="container-fluid">
  <div class="grid-container">
    <div class="row">
      <div class="contact col-sm-8 col-md-6 col-lg-4">
        <hr>
        <h2>Contact</h2>
        <h1>Get in touch</h1>
        <p>We are always happy to hear from you whether you’re looking for more info or to collaborate with us. Don't hesitate to drop us a message!</p>
        <!-- <p>We're hiring! Click <a href="/careers">here</a> to view our openings and learn more about us.</p> -->
        <a class="link-btn-one" href="mailto:contact@hlp.city?Subject=Hello%20Lamp%20Post%20Enquiry">Email Us</a>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  window.sr = ScrollReveal();
  sr.reveal('.contact', {
    duration: 2000,
    origin: 'left',
    distance: '300px',
    viewFactor: 0.2
  });
</script>
