<footer class="footer container-fluid">
	<div class="grid-container">
		<div class="col-sm-6">
			<p><a href="/terms">Legal</a> | <a href="/privacy">Privacy Policy</a></p>
			<p>© Hello Lamp Post 2019 </p>
		</div>
		<div class="col-sm-6 right">
			<p><a class="js-to-top">To Top</a></p>
		</div>
	</div>
</footer>


<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
<script src="/assets/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>