<!--Landing Page-->
<header class="hero">
  <div class="grid-container">
    <div class="row">
      <img src="/images/Logo.png" alt="">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8" align="center">
        <h1>Your city is coming to life, and wants to chat to its citizens!</h1>
        <a href="#about" class="link-btn-one js-scroll-down-button scroll-down-button" role="button">Find Out More</a>
      </div>
    </div>
  </div>
</header>


<!--About-->
<section id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="content">
        <hr>
        <h2>About</h2>
        <h5>Hello Summerside will be launching on 28th June, 2019.</h5>
        <p>Participants are encouraged to explore their local environment in a
        new and experiential way, and invited to anonymously share their thoughts, opinions
        and stories about what Summerside means to them. By taking part, you'll contribute
        to decisions made about Summerside communities.</p>
        <p>Conversations will take the form of interactive questions. Find out
        what each object has to say!</p>
        </div>
    </div>

    <div class="col-sm-6 sideimg"></div>
  </div>
</section>


<!--Use cases-->
<section id="tellmewhy" class="container-fluid">
  <div class="grid-container">
    <hr align="center">
    <h2>What's in it for YOU?</h2>
  </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3">
          <div class="image-circle">
            <img src="/images/group.png" alt="icon">
          </div>
          <h3>Learn the stories of Summerside &amp; its citizens.</h3>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="image-circle">
            <img src="/images/negotiation.png" alt="icon">
          </div>
          <h3>Keep informed on decisions about your city.</h3>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="image-circle">
            <img src="/images/feedback.png" alt="icon">
          </div>
          <h3>Provide feedback &amp; opinions on your city.</h3>
        </div>
      </div>
</section>




<!--
<section id="testimonials" class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="content left">
        <span>“</span>
        <p>We’re very excited to be launching our first city-wide deployment in
          Canada, a project which aims to empower the voices of all citizens through
          a fun and interactive platform. Interactions will continually contribute
          to the City’s decision making process, whether that be around City budgets,
          infrastructure or the culture and history of the City.”</p>

        <p>We believe this is the start of an exciting journey for citizens of
          Summerside, helping them to co-create different areas and aspects of
          their City, through a unique experience which allows them to literally
          speak to their City!”</p>
        <p class="customer">- Tiernan Mines, CEO of Hello Lamp Post</p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="content right">
        <span>“</span>
        <p>This pilot is about finding unique ways to engage our citizens and
          visitors to participate in direct dialogue about the future direction
          of our City. This platform is an innovative way to ensure we target a
          cross section of our demographic while at the same time assisting HLP
          with North American expansion plans."</p>
        <p class="customer">- City of Summerside, Economic Development Office</p>
      </div>
    </div>
  </div>

</section>-->




<!--How it Works-->
<section id="process" class="container-fluid">
  <div class="row">
    <div class="col-sm-6 sideimg"></div>

    <div class="col-sm-6">
      <div class="content-right">
        <hr>
        <h2>How to play</h2>
        <p>All you need to chat with the Objects, is a basic mobile phone! It’s
          free to play (standard text messaging rates apply) and suitable for all
          ages. Just look out for the yellow signs across the City, which can be
          found in places like <span class="bold">Downtown, Spinnakers’ Landing, Credit Union Place,
          Queen Elizabeth Park and along the Boardwalk.</span></p>

        <ol>
          <li>Wake up any coded piece of street furniture by texting: <span class="bold">902 906 9006.</span></li>
          <li>Text in this format: <span class="bold">"Hello + Object + #CODE". </span></li>
          <li>For Example: <span class="bold">"Hello Bench #039".</span></li>
        </ol>

          <!--<a href="#map" class="link-btn-one js-scroll-down-button scroll-down-button" role="button">Map</a>-->
      </div>
    </div>
  </div>
</section>


<section class="txt container-fluid">
  <div class="row">
    <p>30 objects across your City, including a lighthouse, a flagpole, lamp posts,
      benches and trash cans will be waking up, inviting citizens to strike up
      playful conversations in the street!</p>
  </div>
</section>


<!--Objects-->
<%# <section id="obj" class="container-fluid">
  <div class="row">
    <div class="col-sm-3 obj-txt">
      <h2>Trash Cans</h2>
    </div>
    <div class="col-sm-3 obj img"></div>
    <div class="col-sm-3 obj-txt">
      <h2>Flagpole</h2>
    </div>
    <div class="col-sm-3 obj img2"></div>
  </div>

  <div class="row">
    <div class="col-sm-3 obj img3"></div>
    <div class="col-sm-3 obj-txt">
      <h2>Benches</h2>
    </div>
    <div class="col-sm-3 obj img4"></div>
    <div class="col-sm-3 obj-txt">
      <h2>Lighthouse</h2>
    </div>
  </div>
</section> %>


<!--List of Hero Objects -->
<section id="hero-list" class="container-fluid">
  <div class="row">
    <div class="col-sm-6 obj-list content">
      <hr>
      <h2>List of Hero Objects</h2>
      <div class="list-container left">
          <ol>
            <li>Squirrel Bridge</li>
            <li>Green's Shore Shelter</li>
            <li>Canadian Flag</li>
            <li>Sponsorship Vehicle</li>
            <li>Credit Union Place</li>
            <li>Shipyard Shelter</li>
            <li>Vault Door</li>
            <li>Journal Pioneer Building</li>
            <li>Menu</li>
            <li>Inspire Learning Centre</li>
            <li>Lucky Chairs</li>
            <li>Sundial</li>
            <li>City Hall</li>
            <li>Heather Moyse Gazebo</li>
            <li>Sign Box</li>
          </ol>
      </div>
      <div class="list-container right">
        <ol start="16">
          <li>Traffic Light</li>
          <li>Murals</li>
          <li>Downtown</li>
          <li>Lamp Post</li>
          <li>Little Lighthouse</li>
          <li>Trash Can</li>
          <li>Wyatt Historic House</li>
          <li>Lefurgey Building</li>
          <li>Pillory</li>
          <li>Lighthouse</li>
          <li>Batting Cage</li>
          <li>Concession Stand</li>
          <li>Bench</li>
          <li>Leger Park</li>
          <li>Piper Statue</li>
        </ol>
      </div>
    </div>
    <div class="col-sm-6 obj-images" />
  </div>
</section>



<!--Map-->
<%= erb :_googlemap %>


<!--Quote-->
<section id="testimonials">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!--Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <span>“</span>
        <p>We’re very excited to be launching our first city-wide deployment in
          Canada, a project which aims to empower the voices of all citizens through
          a fun and interactive platform. Interactions will continually contribute
          to the City’s decision making process, whether that be around City budgets,
          infrastructure or the culture and history of the City.”</p>

        <p>We believe this is the start of an exciting journey for citizens of
          Summerside, helping them to co-create different areas and aspects of
          their City, through a unique experience which allows them to literally
          speak to their City!”</p>
        <p class="customer">- Tiernan Mines, CEO of Hello Lamp Post</p>
      </div>

      <div class="item">
        <span>“</span>
        <p>This pilot is about finding unique ways to engage our citizens and
          visitors to participate in direct dialogue about the future direction
          of our City. This platform is an innovative way to ensure we target a
          cross section of our demographic while at the same time assisting HLP
          with North American expansion plans."</p>
          <p class="customer">- City of Summerside, Economic Development Office</p>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
  </div>
</section>


<!--Supporters-->
<section class="supporters container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <hr align="center">
      <h2>Hello Summerside Partners</h2>
      <p>Thanks to the partners who have made this project possible, like various
      City departments, a number of local organizations and local businesses.
      These include: Dept. of Community Services, Dept. of Finance, Culture
      Summerside, Explore Summerside, Downtown Summerside, Harbourfront Theatre,
      College of Piping, Spinnakers’ Landing, Inspire Learning Centre, South
      Central Kitchen &amp; Provisions, Holman’s Ice Cream Parlour, Samuel’s Coffee
      House.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <img src="/images/summerside-logo-white.png">
    </div>
    <div class="col-sm-6">
     <img src="/images/White.png" alt="">
    </div>
  </div>
</section>




<script type="text/javascript">
  window.sr = ScrollReveal();
  sr.reveal('.content', {
    duration: 2000,
    origin: 'left',
    distance: '300px'
  });
  sr.reveal('.content-right', {
    duration: 2000,
    origin: 'right',
    distance: '300px',
    viewFactor: 0.2
  });
  sr.reveal('.bgphone', {
    duration: 2000,
    origin: 'bottom',
    distance: '300px',
    viewFactor: 0.2
  });
  sr.reveal('.process-item', {
    duration: 1000,
    origin: top,
    viewFactor: 0.2
  });
  sr.reveal('.locationtext', {
    duration: 1500,
    origin: 'left',
    distance: '300px',
    viewFactor: 0.2
  });
  sr.reveal('.left', {
    duration: 2000,
    origin: 'left',
    distance: '300px',
    viewFactor: 0.2
  });
  sr.reveal('.right', {
    duration: 2000,
    origin: 'right',
    distance: '300px',
    viewFactor: 0.2
  });
</script>
