#statistics {
    background: #FFD100;
    height: initial;
    padding: 0;
    padding-top: 125px;

    .row {
        margin: 0 8%;

        .figure-holder{
            text-align: center;

            h1{
                font-weight: 700;
                padding: 0;

            }

            h3{
                margin: 0;
            }
        }

    }

}